* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* main {
    height: 35vh;
} */

header {
    display: flex;
    padding: 2em;
    border-bottom: 1px solid #dadce0;
}

header img {
    width: 125px;
    padding: 10px;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;

}

form input {
    margin-top: -37px;
    border: 0.1em solid rgb(118, 118, 118);
    border-radius: 3em;
    width: 30em;
    padding: 0.8em;
    height: 3em;
    align-content: center;
}


#buttonContainer {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 18em;
}

#buttonContainer button {
    border: none;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border-radius: 0.4em;
    color: #202124;
    min-width: 54px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
}

#buttonContainer button:hover {
    border: 1px solid #dadce0;
}

#resultsList {
    display:block;
    width: 100vh;
    background-color: rgb(244, 242, 242);
    border-radius: 2vh;
    margin-left: 2vh;
    font-size: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
